<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>学生后台管理系统</title>

<!--Bootstrap固定框架-->
<link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">
<link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.css}">
<!--图标库-->
<link rel='stylesheet' th:href='@{/css/material-design-iconic-font.min.css}'>
<!--核心样式-->
<link rel="stylesheet" th:href="@{/css/style.css}">
  <script th:src="@{/js/DateFormat.js}"></script>
  <script th:src="@{/js/Format.js}"></script>
  <script th:src="@{/js/SimpleDateFormat.js}"></script>
<script th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
</head>
<script th:inline="javascript">



  $().ready(function () {

    $("#addBtn").click(function () {
      $.ajax({
        url : "/course/addStudentCourse",
        type : "post",
        data : {
          sid : $("#stu").val(),
          cid : $("#course").val(),
          score : $("#score").val()
        },
        dataType : "json",
        success : function (resp) {
          if (resp === 200){
            alert("添加成功！");
            window.location = "/course/goCourseMenu";
          }else {
            alert("添加失败");
          }
        }
      })
    });

   $("#exit").click(function () {
     window.location = "/course/goCourseMenu";
   })
  });

function goStudentMenu() {
  window.location = "/student/goStuMenu";
}

function goStuCourseMenu() {
  window.location = "/course/goCourseMenu";
}

</script>
<body>

<div id="viewport">

  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <a href="#">学生后台管理</a>
    </header>
    <ul class="nav">
      <li>
        <a onclick="goStudentMenu()">
          <i class="zmdi zmdi-view-dashboard"></i> 学生管理
        </a>
      </li>
      <li>
        <a>
          <i class="zmdi zmdi-link"></i> 课程管理
        </a>
      </li>
      <li>
        <a onclick="goStuCourseMenu()">
          <i class="zmdi zmdi-widgets"></i> 学生课程管理
        </a>

    </ul>
  </div>
  
  <!-- Content -->
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid" >
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
            </a>
          </li>
          <li><a href="#">测试用户123</a></li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover table-striped" >
              <tbody id="stuTable">
              </tbody>
            </table>
            <form class="form-horizontal" >
              <div class="form-group">
                <input type="hidden" id="sid">
                <div class="col-sm-1">
                  学生:
                </div>
                <div class="col-sm-3">
                  <select id="stu" class="form-control" >
                    <option th:each="stu:${studentList}" th:text="${stu.getName()}" th:value="${stu.getSid()}"></option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-1">
                  课程:
                </div>
                <div class="col-sm-3">
                  <select id="course" class="form-control" >
                    <option th:each="course:${courses}" th:text="${course.getName()}" th:value="${course.getCid()}"></option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class ="col-md-1">
                  分数:
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="score" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="button" id="addBtn" class="btn btn-default">提交</button>
                  <button type="button" id="exit" class="btn btn-default">返回</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>