<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>学生后台管理系统</title>

<!--Bootstrap固定框架-->
<link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">
<link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.css}">
<!--图标库-->
<link rel='stylesheet' th:href='@{/css/material-design-iconic-font.min.css}'>
<!--核心样式-->
<link rel="stylesheet" th:href="@{/css/style.css}">
  <script th:src="@{/js/DateFormat.js}"></script>
  <script th:src="@{/js/Format.js}"></script>
  <script th:src="@{/js/SimpleDateFormat.js}"></script>
<script th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
</head>
<script>

  function getStudentList() {
    $.ajax({
      url : "/student/getStudentList",
      dataType : "json",
      type : "get",
      success : function (resp) {
        $("#stuTable").empty();
        $("#stuTable").append(
                "<tr>\n" +
                "<td>学生编号</td>\n" +
                "<td>学生名称</td>\n" +
                "<td>学生生日</td>\n" +
                "<td>学生年龄</td>\n" +
                "<td>学生爱好</td>\n" +
                "<td>操作</td>\n" +
                "</tr>\n"
                );

        $.each(resp,function (i,stu){

            $("#stuTable").append("<tr>\n" +
                    "<td>"+stu.no+"</td>\n" +
                    "<td>"+stu.name+"</td>\n" +
                    "<td>"+stu.birthday+"</td>\n" +
                    "<td>"+stu.age+"</td>\n" +
                    "<td>"+stu.hobby+"</td>\n" +
                    "<td>\n" +
                    "<button class='btn btn-default' onclick='goUpdate("+stu.sid+")'>修改</button>\n" +
                    "<button class='btn btn-danger' onclick='delBtn("+stu.sid+")'>删除</button>\n" +
                    "</td>\n" +
                    "</tr>");
        })

      }

    })
  }

  function getCourseList() {
    $.ajax({
      url : "/course/getCourseList",
      dataType : "json",
      type : "get",
      success : function (resp) {
        $("#stuTable").empty();
        $("#stuTable").append(
                "<tr>\n" +
                "<td>学生名称</td>\n" +
                "<td>课程名称</td>\n" +
                "<td>成绩</td>\n" +
                "<td>操作</td>\n" +
                "</tr>\n"
        );

        $.each(resp,function (i,coursestu){

          $("#stuTable").append("<tr>\n" +
                  "<td>"+coursestu.student.name+"</td>\n" +
                  "<td>"+coursestu.course.name+"</td>\n" +
                  "<td>"+coursestu.score+"</td>\n" +
                  "<td>\n" +
                  "<button class='btn btn-default' onclick='goUpdate("+coursestu.sid+","+coursestu.cid+")'>修改</button>\n" +
                  "<button class='btn btn-danger' onclick='delBtn("+coursestu.sid+","+coursestu.cid+")'>删除</button>\n" +
                  "</td>\n" +
                  "</tr>");
        })
      }
    })
  }

  function delBtn(sid,cid) {
    if (confirm("是否删除该学生信息？")){
      $.ajax({
        url : "/course/delStuCourse/"+sid+"/"+cid,
        type : "get",
        dataType : "json",
        success : function (resp) {
          if (resp === 200){
            alert("删除成功！");
            getCourseList();
          }else {
            alert("删除失败！");
          }
        }
      })
    }
  }

function goUpdate(sid,cid) {
  window.location = "/course/goStuCourseUpdate/"+sid+"/"+cid;
}

function goAdd() {
  window.location = "/course/goAdd";
}

$().ready(function () {
  getCourseList();
  $("#serchBtn").click(function () {
    $.ajax({
      url : "/course/serchStuCourse",
      data : {
        name : $("#name").val()
      },
      type : "get",
      dateType : "json",
      success : function (resp) {
        $("#stuTable").empty();
        $("#stuTable").append(
                "<tr>\n" +
                "<td>学生名称</td>\n" +
                "<td>课程名称</td>\n" +
                "<td>成绩</td>\n" +
                "<td>操作</td>\n" +
                "</tr>\n"
        );

        $.each(resp,function (i,coursestu){

          $("#stuTable").append("<tr>\n" +
                  "<td>"+coursestu.student.name+"</td>\n" +
                  "<td>"+coursestu.course.name+"</td>\n" +
                  "<td>"+coursestu.score+"</td>\n" +
                  "<td>\n" +
                  "<button class='btn btn-default' onclick='goUpdate("+coursestu.sid+","+coursestu.cid+")'>修改</button>\n" +
                  "<button class='btn btn-danger' onclick='delBtn("+coursestu.sid+","+coursestu.cid+")'>删除</button>\n" +
                  "</td>\n" +
                  "</tr>");
        })
      }
    })
  })




})
</script>
<body>

<div id="viewport">

  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <a href="#">学生后台管理</a>
    </header>
    <ul class="nav">
      <li>
        <a onclick="getStudentList()">
          <i class="zmdi zmdi-view-dashboard"></i> 学生管理
        </a>
      </li>
      <li>
        <a>
          <i class="zmdi zmdi-link"></i> 课程管理
        </a>
      </li>
      <li>
        <a  onclick="getCourseList()">
          <i class="zmdi zmdi-widgets"></i> 学生课程管理
        </a>

    </ul>
  </div>
  
  <!-- Content -->
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid" >
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
            </a>
          </li>
          <li><a href="#">测试用户123</a></li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-12">

            <div class="col-md-4">
              <button class="btn btn-default" onclick="goAdd()">添加学生</button>
            </div>

            <div class="col-md-8 inline">


              <form class="form-inline">
                <div class="form-group">
                  <input type="text" class="form-control" id="name" name="name" placeholder="请输入学生姓名"/>
                </div>
                <button type="button" id="serchBtn" class="btn btn-default">搜索</button>
              </form>
            </div>

            <table class="table table-hover table-striped" >
              <tbody id="stuTable">

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>